.circles {
  margin-top: -170px;
  margin-left: 40px;
  width: 180px;
}

.small-circle {
  margin-top: 14px;
  margin-left: 14px;
  width: 113px;
  height: 113px;
  border: 12px solid #d3d6db;
  border-radius: 50%;
  position: absolute;
}

.small-circle-quarter {
  margin-top: 14px;
  margin-left: 14px;
  /* Create the circle */
  width: 113px;
  height: 113px;
  border: 12px solid #62ce02;
  border-radius: 50%;
  /* Halve the circle */
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  /* Rotate the circle */
  transform: rotate(45deg);
  position: absolute;
  z-index: 10;
}

.medium-circle {
  width: 150px;
  height: 150px;
  border: 8px solid #b5e6fd;
  border-radius: 50%;
  position: absolute;
}

.medium-circle-half {
  /* Create the circle */
  width: 150px;
  height: 150px;
  border: 8px solid #c4fffa;
  border-radius: 50%;
  /* Halve the circle */
  border-bottom-color: transparent;
  border-left-color: transparent;
  /* Rotate the circle */
  transform: rotate(45deg);
  position: absolute;
  z-index: 10;
}

@keyframes grow-25{
  from {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
  }
}

.mask-circle-25 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: grow-25;
  animation-name: grow-25;
  animation-timing-function: ease-in-out;
}