body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #394346;
}

.page {
  margin-left: 20px;
  margin-top: 58px;
  width: 84vw;
  margin-right: 25px;
}

.App {
  display: flex;
  background-color: #F1F3F4;
}

.h1 {
  size: 22px;
  line-height: 20px;
  font-weight: bold;
}

.header {
  display: flex;
}

.box {
  background-color: #D3D6DB;
  padding: 17px 18px 16px 18px;
}

a {
  text-decoration: none !important;
}

h2 {
  font-size: 16px;	
  font-weight: 500;
  margin-top: 35px;
  line-height: 20px;
}

.white-box {
  height: 208px;
  border: 1px solid #D9E1E4;	
  background-color: #FFFFFF;
  align-content: space-between;
  display: flex;
  align-items: center;
}